<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
  	<description>配置Tomcat数据源（资源引用）</description>
  	<res-ref-name>jdbc/mybatisrobot</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
  	<description>跳转到列表页面</description>
  	<servlet-name>ListServlet</servlet-name>
  	<servlet-class>org.gpf.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListServlet</servlet-name>
  	<url-pattern>/List.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>单条删除</description>
  	<servlet-name>DeleteOneServlet</servlet-name>
  	<servlet-class>org.gpf.servlet.DeleteOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteOneServlet</servlet-name>
  	<url-pattern>/DeleteOne.action</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<description>批量删除</description>
  	<servlet-name>DeleteBatchServlet</servlet-name>
  	<servlet-class>org.gpf.servlet.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteBatchServlet</servlet-name>
  	<url-pattern>/DeleteBatch.action</url-pattern>
  </servlet-mapping>
</web-app>
